@{
    ViewData["Title"] = "Home Page";
}


<partial name="_ShoppingBannerPartial" />
<div class=" vh-100 d-flex justify-content-center align-items-center">
    <h1>This is Ken Kata Third Again</h1>
    
</div>

