@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Navbar"/>
<partial name="_ShoppingBannerPartial" />
<div class=" vh-100 d-flex justify-content-center align-items-center">
    <h1>This is Ken Kata Group 2 Again</h1>
    
</div>

<partial name="_FooterPartial" />