<div class="darkblue-banner-bg">
    <div class="ken-container d-flex justify-content-between align-items-center h-100">
        @* <h1 class="text-turquoise">Home / Shop / @model.Name</h1> *@
        <div><a class="text-turquoise">Back to shop</a></div>
    </div>
</div>