@model IEnumerable<KenKata.Shared.Models.Entities.ProductEntity>

@{
    ViewData["Title"] = "GetAll";
}

<section id="newCustomerSpecialOffer">
    <div class="background">
        <div class="ken-container d-flex align-items-center justify-content-between py-5">
            <div id="newCustomer30Div">
                <h1>New Customer</h1>
                <h1>Can Get</h1>
                <h1 class="text-turquoise ms-2">30% Off</h1>
                <div class="mt-5">
                    <a href="" class="">LEARN MORE</a>
                </div>
            </div>
            <div>
                <img src="/images/NewCustomerOfferShoes.svg" asp-append-version="true" alt="Shoe image">
            </div>
        </div>
    </div>
</section>



<div id="AllProducts">
    <div class="ken-container">
        <div class="row row-cols-3 g-4 justify-content-center">
        @foreach (var product in Model)
        {
            <div class="col">
                <div class="card shadow">
                    <div class="card-top d-flex justify-content-center m-4">
                        <img src="/images/Banner-thumb.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                            <div class="card-menu">
                            <img src="/images/Color.svg">
                            <a asp-action="" asp-controller=""asp-route-id=""><img src="/images/Heart icon.svg"></a>
                            <a asp-action="" asp-controller=""asp-route-id=""><img src="/images/Compare icon.svg"></a>
                            <a asp-action="" asp-controller=""asp-route-id=""><img src="/images/Search icon.svg"></a>
                            <a asp-action="" asp-controller=""asp-route-id=""> <img src="/images/Cart icon.svg"></a>
                        </div>
                        <div class="card-info">
                            <a asp-action="Details" asp-controller="CostumerProduct"asp-route-id="@product.Id">
                            <h5 class="card-title">@product.Name</h5>
                            <h6 class="card-subtitle">$ @product.Price</h6>
                            </a>
                        </div> 
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>

