@{
    ViewData["Title"] = "Post";
}

<div class="page-border">
    <div class="ken-container d-flex justify-content-between align-items-center h-100">
        <div class="text-turquoise"><h4>Blog</h4></div>
        <div>
            <span><a class="text-turquoise" asp-controller="Home" asp-action="Index">Home /</a></span>
            <span><a class="text-turquoise" asp-action="Blog">Blog </a></span>
            <span><a class="text-white">/ Blog details</a></span>
        </div>
    </div>
</div>

