/* general */

.no-border {
    border: none;
}

.bg-transparent {
    background-color: transparent;
}

.navbar-container {
    width: 1125px;
    margin-left: auto;
    margin-right: auto;
}


.ken-container {
    width: 1125px;
    margin-left: auto;
    margin-right: auto;
}

.text-turquoise {
    color: #20D3C2 !important;
}

.bg-turquoise {
    background-color: #20D3C2;
}

.bg-lightgrey {
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
}

.button-turquoise-halfcircleend {
    border-radius: 9999px;
    border: none;
    background-color: #20D3C2;
    color: white;
}



.white-button {
    border-radius: 30px;
    border: none;
    width: 154px;
    height: 54px;
    background-color: #ffffff;
    color: #20D3C2;
    font-weight: bold;
    font-size: 18px;
}

    .white-button:hover {
        background-color: #20D3C2;
        color: white;
    }

.darkblue-banner-bg {
    background-color: #292F51;
    width: 100%;
    height: 140px;
}

.darkblue-banner-bg span {
    font-size: 16px;
}

.darkblue-banner-bg h1 {
    font-size: 16px;
}

.bg-darkblue {
    background-color: #292F51;
}

.border-lightgrey-bottom {
    border-bottom: 1px solid lightgrey;
}

.border-lightgrey {
    border: 1px solid lightgrey;
}

.border-turquoise {
    border: 1px solid #20D3C2;
}

/* navbar */

#navbarTop {
    background-color: #20D3C2;
}

#navbarTop a, #navbarTop select, #navbarTop option {
    text-decoration: none;
    color: white;
    border: none;
}

#navbarMiddle {
    height: 100px;
}

#kenKataLogo {
    width: 160px;
    height: 23px;
}

#searchDiv {
    border-radius: 9999px;
    border: 1px solid gray;
}

#searchDiv input {
    border: none;
    margin: 0.5rem;
}

#searchDiv i {
    color: white;
    margin-right: 0.5rem;
    
}

#navbarMyAccountDiv i {
    margin-left: 2rem;
}

#navbarMyAccountDiv a {
    color: black;
    text-decoration: none;
}

#navbarMyAccountDiv a:hover {
    color: #20D3C2;
}

#navbarBottom {
    border-top: 1px solid lightgray;
}

.navbarBottomDiv {
    display: flex;
    align-items: center;
}

#navbarBottom a {
    color: black;
    text-decoration: none;
}

#navbarBottom .dropdown-center a {
    color: white;
}

#navbarBottom .dropdown-center {
    display: flex;
    align-items: center;
    border: none;
    background-color: #20D3C2;
    color: white;
    padding: 0 10px 0 10px;
}

#navbarSpecialOffer {
    border-radius: 9999px;
    background-color: #20D3C2;
    color: white !important;
    padding: 0.2rem 1.5rem;
    margin: 10px 0;
}

#newCustomer30Div {
    height: 250px;
    width: 350px;
}

#newCustomerSpecialOffer h1 {
    display: inline-block;
    color: white;
}

#newCustomer30Div a {
    border-radius: 9999px;
    text-decoration: none;
    color: #20D3C2;
    font-weight: 700;
    background-color: white;
    padding: 0.5rem 1rem;
}

#totalQuantity {
    /* background-color: #20D3C2; */
    border-radius: 50%;
    padding: 0px 7px 2px 7px;
    color: white;
    position: absolute;
    top: -8px;
    left: 55px;
    font-size: 12px;
    
}


/*SHOPPING-BANNER*/
#shopping-banner {
    height: auto;
    width: auto;
    background-color: #EEEEEE;
}

    #shopping-banner .shopping-banner-items {
        height: 600px;
        width: 100%;
    }

        #shopping-banner .shopping-banner-items img {
            width: auto;
            height: 100%;
        }

        #shopping-banner .shopping-banner-items .shopping-banner-items-text {
            margin-left: 5px;
        }

            #shopping-banner .shopping-banner-items .shopping-banner-items-text h1 {
                font-size: 60px;
                max-width: 350px;
                margin-bottom: 30px;
            }

            #shopping-banner .shopping-banner-items .shopping-banner-items-text p {
                font-size: 16px;
                max-width: 500px;
                padding-right: 20px;
            }
#ProductFilter {
    width: 220px;
}

    #ProductFilter a {
        color: black;
    }

        #ProductFilter a:hover {
            color: #20D3C2;
        }
    #ProductFilter .border-round {
        border-radius: 4px;
        border: solid 1px #d7d7d7;
    }

    #ProductFilter .hover:hover {
        background-color: #20D3C2;
    }
    #ProductFilter .selected-Category {
        background-color: #20D3C2;
    }

/*All products */
#AllProducts p, #AllProducts h5, #AllProducts h6 {
    color: #ffffff;
}
#AllProducts .row {
    /*min-width: 900px;
    max-width: 900px;*/
    width: 900px;
}

#AllProducts .col {
    height: 290px;
    width: 260px;
}

#AllProducts .card {
    height: inherit;
    position: relative;
}

    #AllProducts .card:hover .card-top {
        position: absolute;
        z-index: 1;
    }

    #AllProducts .card:hover .card-body {
        z-index: 2;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        background-color: #0e153ddf;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

        #AllProducts .card:hover .card-body .card-menu {
            align-self: flex-end;
            height: 136px;
            width: 31px;
            border-radius: 30px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: transform 0.4s ease-in-out;
            
        }
        #AllProducts .card:hover .card-body .card-menu a{
            padding-bottom:5px;
        }


        #AllProducts .card:hover .card-body .card-info .card-subtitle {
            display: block;
        }

        #AllProducts .card:hover .card-body .card-info .card-text {
            display: block;
        }

    #AllProducts .card .card-top {
        background-color: #ffffff;
        height: 220px;
        max-height: 220px;
        width: auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #AllProducts .card .card-body {
        height: 36px;
        background-color: #0E153D;
        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
    }

        #AllProducts .card .card-body .card-menu {
            display: none;
        }

        #AllProducts .card .card-body .card-subtitle {
            display: none;
        }

        #AllProducts .card .card-body .card-text {
            display: none;
        }


.instock {
    height: 21px;
    width: 21px;
    background-color: #82D8C6;
    border-radius: 50%;
}
.OutOfstock {
    height: 21px;
    width: 21px;
    background-color: #ff7676;
    border-radius: 50%;
}
/*#AllProducts p, #AllProducts h5, #AllProducts h6 {
    color: #ffffff;
}

#AllProducts .col {
    height: 290px;
    width: 270px;
}

#AllProducts .card {
    height: inherit;
    position: relative;
}

    #AllProducts .card:hover .card-top {
        position: absolute;
        z-index: 1;
    }

    #AllProducts .card:hover .card-body {
        z-index: 2;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        background-color: #0e153ddf;
    }

        #AllProducts .card:hover .card-body .card-menu {
            align-self: flex-end;
            height: 136px;
            width: 31px;
            border-radius: 30px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            #AllProducts .card:hover .card-body .card-menu img {
                padding: 5px;
            }

        #AllProducts .card:hover .card-body .card-info .card-subtitle {
            display: block;
        }

        #AllProducts .card:hover .card-body .card-info .card-text {
            display: block;
        }

    #AllProducts .card .card-body {
        height: 46px;
        background-color: #0E153D;
    }

        #AllProducts .card .card-body .card-menu {
            display: none;
        }

        #AllProducts .card .card-body .card-subtitle {
            display: none;
        }

        #AllProducts .card .card-body .card-text {
            display: none;
        }*/
/* ProductDetails */
#productDetailsBigImg {
    height: 445px;
    width: 425px;
}

#productDetailsCart {
    color: white;
}

#details-button-minus {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#details-button-plus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#detailsQuantity {
    width: 25px;
}

.color-div-box {
    height: 100px;
    width: 100px;
    background-color: #20D3C2;
}


.color-div-box-grey {
    height: 100px;
    width: 100px;
    background-color: #EEEEEE;
}


/* FOOTER */
#footer {
    height: auto;
    width: auto;
}

    #footer p {
        font-size: 14px;
        color: #ffffff;
    }

        #footer p a {
            color: #FFFFFF;
        }

            #footer p a:hover {
                color: #20D3C2;
            }

    #footer .box {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 15px;
    }

    #footer .footer-brands {
        background-color: #FFFFFF;
    }

        #footer .footer-brands .footer-1 {
            height: 285px;
        }

    #footer .footer-content {
        border-top: #20D3C2 5px solid;
        background-color: #0E153D;
    }

        #footer .footer-content .footer-2 {
            height: 452px;
        }

            #footer .footer-content .footer-2 p {
                padding-right: 50px;
            }

    #footer .footer-bottom {
        background-color: #080C24;
        border-top: solid 3px white;
    }

        #footer .footer-bottom .footer-3 {
            height: 80px;
        }

.single-line {
    border-bottom: solid 1px black;
    width: 110%;
}

/* My Account */

.grey-banner-bg {
    background-color: #50546E;
    width: 100%;
    height: 140px;
}

.grey-banner-bg h1 {
    font-size: 32px;
}

.grey-banner-bg span {
    font-size: 21px;
}

.my-account-form-bg {
    background-color: #F6F6F6;
}

.my-account-button {
    border-radius: 9999px;
}

/* Shopping cart */

.button-minus {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button-plus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

/* team */

#teamBanner {
    height: 400px;
    background-color: #50546E;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
}

#teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

#teamGrid a {
    display: block;
}

.teamBox {
    height: 505px;
    width: 255px;
    border: 2px solid turquoise;
    border-radius: 5px;
}

.teamBox img {
    height: auto;
    width: 100%;
}

.team-blue-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0E153D;
    height: 40px;
    width: 75%;
    border-radius: 9999px;
    padding: 0 8px;
}

.team-white-little-square {
    border: 1px solid white;
    height: 10px;
    width: 10px;
}