<div class="grey-banner-bg">
    <div class="ken-container d-flex justify-content-between align-items-center h-100">
        <h1 class="text-turquoise">My Account</h1>
        <div><span class="text-turquoise">Home</span> <span class="text-white"> / My Account</span></div>
    </div>
</div>

<div class="ken-container  d-flex mt-5">

    <!--Hardcoded size until it is designed-->
    <form class="m-3 w-100 my-account-form-bg" style="height: 522px; width: 540px;">Login</form>

    <form class="m-3 w-100 my-account-form-bg pt-3 ps-4 pe-3">

        <h2 class=" mb-4">Register</h2>
        <p class="mb-4">Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time.
            We will only ask you for information necessary to make the purchase process faster and easier.</p>

        <label>Username</label><span class="text-turquoise">*</span><br>
        <input type="text" class="formcontrol w-100 no-border mb-4 py-2">

        <label>Email address</label><span class="text-turquoise">*</span><br>
        <input type="text" class="formcontrol w-100 no-border mb-4 py-2">

        <label>Password</label><span class="text-turquoise">*</span><br>
        <input type="password" class="formcontrol w-100 no-border mb-4 py-2">

        <span class="mb-4">Your personal data will be used to support your experience throughout this website, to manage access to your account,
            and for other purposes described in our </span><a href="" class="text-turquoise">privacy policy.</a><br>

        <button type="submit" class="mt-4 mb-4 text-white bg-turquoise no-border my-account-button w-100 py-2">Register</button>

    </form>
</div>