<div class="grey-banner-bg">
    <div class="ken-container d-flex justify-content-between align-items-center h-100">
        <h1 class="text-turquoise">My Account</h1>
        <div><span class="text-turquoise">Home</span> <span class="text-white"> / My Account</span></div>
    </div>
</div>
