<div class="grey-banner-bg">
    <div class="ken-container d-flex justify-content-center align-items-center h-100">
        <div><span class="text-turquoise">Shopping Cart &nbsp;</span> <span class="text-white">/&nbsp; Check Out</span><span class="text-white">&nbsp; / &nbsp; Complete</span></div>
    </div>
</div>