<div class="grey-banner-bg">
        <div class="ken-container d-flex justify-content-between align-items-center h-100">
            <h1 class="text-turquoise">Portfolio</h1>
            <div><span class="text-turquoise">Home</span> <span class="text-turquoise"> / Postfolio</span><span class="text-white"> / Women's fashion choice</span></div>
        </div>
    </div>
   <div class="ken-container d-flex section-one">
        <div class="text-section-one">
            <h3 class="text-turquoise">In these days women's fashion became great!</h3>
            <h6>Date: <span class="text-turquoise">30 July 2020</span>, Category: <span class="text-turquoise">Fashion</span></h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p class="text-turquoise inner-text">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</p>
            <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor. In hac habitasse platea dictumst.</p>
        </div>
        <div class="image-one">
            <img src="images/Grey-square.svg">
        </div>
   </div>
   <div class="ken-container d-flex section-two">
       <div>
            <img src="images/Group-squares.svg">
       </div>
       <div class="text-section-two">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p class="text-turquoise inner-text">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet ullamcorper congue. Nam lobortis eros in risus rhoncus gravida. Pellentesque enim lectus, laoreet sit amet rhoncus in, semper vitae odio. Proin congue malesuada posuere. Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi. Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit.</p>
        </div>
        
   </div>
   <div class="ken-container d-flex social-icons">
        <span class="share-on">SHARE ON:</span>
        <a href="#" class="facebook">Facebook</a>
        <a href="#" class="twitter">Twitter</a>
        <a href="#" class="pinterest">Pinterest</i></a>
        <a href="#" class="instagram">Instagram</i></a>
   </div>

   <div class="ken-container d-flex tags-links">
       <p>Tags:</p>
       <p>Fashion</p>
       <p>Shoes</p>
       <p>Sneakers</p>
   </div>

   <div class="other-projects">
    <div class="ken-container d-flex justify-content-between align-items-center h-100">
        <div class="d-flex">
            <img src="images/Small-thumb.svg" alt="">
            <div class="previous">
                <p class="text-turquoise"><img src="/images/Arrow-left.svg">Previous</p>
                <p>Monica Creative and make us a <br> proud things</p>
            </div>
            
            
        </div>
        <div class="d-flex">
            <div class="next-project">
                <p class="text-turquoise">Next Project <img src="/images/Arrow-right.svg"></p>
                <p>The future fashion will be a easy <br> beauty of women</p>
            </div>
            <img src="images/Small-thumb.svg" alt="">
        </div>
    </div>
</div>