
@{
    ViewData["Title"] = "Team";
}

<div id="teamBanner">
    <div class="ken-container d-flex justify-content-start align-items-center h-100">
        <div>
            <div><span class="text-white">An</span><span class="text-turquoise">&nbsp; Awesome Team</span> </div>



            <div> <span class="text-white">Behind Our Online Store</span></div>
        </div>
    </div>
</div>

