<section id="footer">
    <div class="footer-brands">
        <div class="ken-container">
            <div class="footer-1 d-flex justify-content-between align-items-center">
                <img src="/images/Bexim.png">
                <img src="/images/Lighton.png">
                <img src="/images/Dismis.png">
                <img src="/images/Rosimo.png">
                <img src="/images/Dallas.png">
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="ken-container">
            <div class="footer-2 d-flex justify-content-between align-items-stretch">
                <div class="box">
                    <img src="/images/Logo.png" class="pb-4">
                    <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.</p>
                    <p><strong>Follow us</strong></p>
                    <img src="/images/Group 480.png">
                </div>
                <div class="box">
                    <h5 class="text-turquoise pb-3">CONTACT INFO</h5>
                    <p>
                        <span class="text-turquoise">Adress:</span>
                        <br>
                        Solna Business Park
                        <br>
                        Feni-2500, Stockholm
                    </p>
                    <p>
                        <span class="text-turquoise">Phone:</span>
                        <br>
                        +08-123456789
                        <br>
                        +08-123456789
                    </p>
                    <p>
                        <span class="text-turquoise">Email:</span>
                        <br>
                        support@website.com
                        <br>
                        info@website.com
                    </p>
                </div>
                <div class="box">
                    <h5 class="text-turquoise pb-3">USEFUL LINKS</h5>
                    <p><a href="#">Privacy Policy</a></p>
                    <p><a href="#">Terms & Conditions</a></p>
                    <p><a href="#">Contact Us</a></p>
                    <p><a href="#">Our Sitemap</a></p>
                    <p><a href="#">Our Sitemap</a></p>
                    <p><a href="#">Latest News</a></p>
                    <p><a href="#">Returns</a></p>
                </div>
                <div class="box">
                    <h5 class="text-turquoise pb-3">RECENT INSTAGRAM</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="ken-container">
            <div class="footer-3 d-flex justify-content-between align-items-center">
                <p class="m-3">© Copyright 2020 KenKata</p>
                <img src="/images/Payment system.png" class="m-3">
            </div>
        </div>
    </div>
</section>