

<section id="navbarSection" class="">
        <div id="navbarTop">
            <div class="navbar-container ">
                <div class="d-flex container-fluid p-0">
                    <div class="d-flex p-0">
                        <select class="bg-transparent" name="" id="">
                            <option value="">ENG</option>
                        </select>
                        <select class="bg-transparent" name="" id="">
                            <option value="">USD</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end container-fluid p-0">
                        <a class="text-light m-2" href="">Newsletter</a>
                        <a id="contactUs" class="m-2" href=" ">Contact Us</a>
                        <a href=" " class="my-2 ms-2">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbarMiddle" class="navbar-container d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <img src="/images/KenKataLogo.svg" asp-append-version="true" id="kenKataLogo" alt="logo">
                </div>
                <div id="searchDiv" class="">
                    <input type="text" placeholder="Search products">
                    <select class="no-border" name="navbarCategorySelect" id="navbarCategorySelect" >
                        
                        <option value="">Categories</option>
                        
                    </select>
                        <i class="fa-solid fa-magnifying-glass text-dark"></i>
                </div>
                <div class="d-flex justify-content-between" id="navbarMyAccountDiv">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <a asp-controller="User" asp-action="Index"><i class="fa-solid fa-user me-2"></i><span>@User.Identity.Name </span></a>
                        <a asp-controller="User" asp-action="SignOut">Log Out</a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index"><i class="fa-solid fa-user me-2"></i><span>My account</span></a>
                    }
                    

                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a><i class="fa-solid fa-shuffle"></i></a>
                    <a> <i class="fa-solid fa-lock"></i></a>
                </div>
            </div>
        </div>
        <div id="navbarBottom" >
            <div class="navbar-container d-flex justify-content-between">
                <select name="" id="">
                    <option value="">
                        Browse Categories
                    </option>
                </select>
                <div class="navbarBottomDiv">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="navbarBottomDiv">
                    <a asp-controller="CostumerProduct" asp-action="GetAll">Shop</a>
                </div >
                <div class="navbarBottomDiv">
                    <a href="">Products</a>
                </div>
                <div class="navbarBottomDiv">
                    <a href="">Categories</a>
                </div>
                <div class="navbarBottomDiv">
                    <a href="">Pages</a>
                </div>
               <div class="navbarBottomDiv">
                <a href="">Blog</a>
               </div>
                <a href="" id="navbarSpecialOffer">Special Offer</a>
            </div>
        </div>
    </section>

