<section id="shopping-banner">
    <div class="ken-container">
        <div class="d-flex">
            <div class="shopping-banner-items d-flex justify-content-start align-items-center">
                <div class="shopping-banner-items-text">
                    <h1>
                        Shopping is
                        <strong class="text-turquoise">MORE FUN</strong>
                    </h1>
                    <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
                    <div class="single-line"></div>
                    <button class="white-button mt-4" type="button" onclick="location.href='@Url.Action("productList","product")'">SHOP NOW</button>
                </div>
            </div>
            <div class="shopping-banner-items">
                <img src="./images/Banner-thumb.png">
            </div>
        </div>
    </div>
</section>